* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  color: #343a40;
}

h1 {
  font-size: 2rem;
  color: #5ab677;
  font-weight: 500;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

body {
  min-width: 900px;
  max-width: 1100px;
  margin: 16px auto;
}

p {
  margin-bottom: 5px;
}

@media print {
  body {
    width: 21cm;
    height: 29.7cm;
    margin: 6mm;
    color: black;
    -webkit-print-color-adjust: exact;
  }

  .tags .tag {
    background-color: #5ab677 !important;
  }

  .wrapper > .content > .block > .header .title .icon {
    background-color: #5ab677 !important;
  }
}
ul {
  list-style-position: inside;
}
.wrapper > .header {
  position: relative;
  height: 112px;
}
.wrapper > .header .left {
  width: 17%;
  height: 100%;
  position: absolute;
}
.wrapper > .header .center {
  width: 58%;
  height: 100%;
  position: absolute;
  left: 17%;
}
.wrapper > .header .center .subtitle {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 20px;
}
.wrapper > .header .center .second-subtitle {
  font-size: 1em;
  margin-top: 4px;
}
.wrapper > .header .center .description {
  margin-top: 14px;
}
.wrapper > .header .right {
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: right;
}
.wrapper > .header .right .block i {
  margin-left: 6px;
  color: #5ab677;
}
.wrapper > .content > .block {
  margin-bottom: 40px;
  margin-top: 20px;
}
.wrapper > .content > .block > .header {
  position: relative;
  margin-bottom: 8px;
  padding: 3px 0;
}
.wrapper > .content > .block > .header .title {
  vertical-align: middle;
  overflow: hidden;
}
.wrapper > .content > .block > .header .title .icon {
  width: 30px;
  height: 30px;
  background-color: #5ab677;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 83%;
  text-align: center;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 17%;
}
.wrapper > .content > .block > .header .title .icon i {
  margin-top: 6px;
  color: white;
  font-size: 1.1rem;
  margin-left: 1px;
}
.wrapper > .content > .block > .header .title h2 {
  margin-left: 17%;
  display: inline-block;
  position: relative;
}
.wrapper > .content > .block > .header .title h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  width: 10000px;
  border-bottom: 2px dotted green;
}
.wrapper > .content > .block > .header .title h2::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-right: 70px;
  width: 10000px;
  border-bottom: 2px dotted green;
}
.wrapper > .content > .block > .content > .subblock {
  position: relative;
  min-height: 23px;
  margin-bottom: 6px;
}
.wrapper > .content > .block > .content > .subblock.large {
  min-height: 40px;
}
.wrapper > .content > .block > .content > .subblock .left {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 17%;
  text-align: right;
}
.wrapper > .content > .block > .content > .subblock .left div {
  margin-right: 20px;
}
.wrapper > .content > .block > .content > .subblock .left .title {
  color: #5ab677;
  font-weight: 500;
  font-size: 1.1rem;
}
.wrapper > .content > .block > .content > .subblock .left .title a {
  color: #5ab677;
}
.wrapper > .content > .block > .content > .subblock .left .subtitle {
  font-weight: 400;
}
.wrapper > .content > .block > .content > .subblock .other {
  margin-left: 17%;
}
.wrapper > .content > .block > .content > .subblock .other .text p {
  margin-top: 13px;
}

.tags .tag {
  display: inline-block;
  background-color: #5ab677;
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
  margin-bottom: 3px;
}