// variables
$base-color: #5ab677;
$text-color: #343a40;

$leftWidth: 17%;
$centerWidth: 58%;
$rightWidth: 25%;
$centerAndRightWidth: 83%;

// base

* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: $text-color;
}

h1 {
    font-size: 2rem;
    color: $base-color;
    font-weight: 500;
}

h2 {
    font-size: 1.4rem;
    font-weight: 500;
}

body {
    min-width: 900px;
    max-width: 1100px;
    margin: 16px auto;
}

p {
    margin-bottom: 5px;
}

@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 6mm; 
        color: black;
        -webkit-print-color-adjust: exact; 
   } 
   .tags .tag {
        background-color: $base-color !important;
    }
    .wrapper > .content > .block > .header .title .icon {
        background-color: $base-color !important;
    }
}

ul {
    list-style-position: inside;
    li {

    }
}

// concrete

.wrapper {

    // header
    >.header {
        position: relative;
        height: 112px;

        .left {
            width: $leftWidth;
            height: 100%;
            position: absolute;
        }
        .center {
            width: $centerWidth;
            height: 100%;
            position: absolute;
            left: $leftWidth;

            .subtitle {
                font-size: 1.2em;
                font-weight: 500;
                margin-top: 20px;
            }

            .second-subtitle {
                font-size: 1em;
                margin-top: 4px;
                // color: gray;

                // b {
                //     color: gray;
                // }
            }

            .description {
                margin-top: 14px;
            }
        }
        .right {
            width: $rightWidth;
            height: 100%;
            position: absolute;
            right: 0;
            text-align: right;

            .block {
                .text {

                }
                i {
                    margin-left: 6px;
                    color: $base-color;
                }
            }
        }
    }

    // content
    >.content {
        >.block {
            margin-bottom: 40px;
            margin-top: 20px;

            >.header {
                position: relative;
                margin-bottom: 8px;
                padding: 3px 0;

                .title {
                    // width: $leftWidth;
                    vertical-align: middle;
                    overflow: hidden;

                    .icon {
                        width: 30px;
                        height: 30px;
                        background-color: $base-color;
                        display: block;
                        position: absolute;
                        top: 50%;
                        margin-top: -15px;
                        right: $centerAndRightWidth;
                        text-align: center;
                        border-radius: 50%;
                        margin-right: 20px;
                        margin-left: $leftWidth;

                        i {
                            margin-top: 6px;
                            color: white;
                            font-size: 1.1rem;
                            margin-left: 1px;
                        }
                    }

                    h2 {
                        margin-left: $leftWidth;
                        display: inline-block;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 100%;
                            margin-left: 20px;
                            width: 10000px;
                            border-bottom: 2px dotted green;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 100%;
                            margin-right: 70px;
                            width: 10000px;
                            border-bottom: 2px dotted green;
                        }
                    }
                }
            }
            >.content {
                >.subblock {
                    position: relative;
                    min-height: 23px;
                    margin-bottom: 6px;

                    &.large {
                        min-height: 40px;
                    }

                    .left {
                        position: absolute;
                        height: 100%;
                        left: 0;
                        top: 0;
                        width: $leftWidth;
                        text-align: right;
                        div {
                            margin-right: 20px;
                        }
                        .title {
                            color: $base-color;
                            font-weight: 500;
                            font-size: 1.1rem;
                            a {
                                color: $base-color;
                            }
                        }
                        .subtitle {
                            font-weight: 400;
                        }
                    }
                    .other {
                        margin-left: $leftWidth;
                        .text {
                            p {
                                margin-top: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tags { 
    .tag {
        display: inline-block;
        background-color: $base-color;
        padding: 2px 8px;
        border-radius: 5px;
        color: white;
        margin-bottom: 3px;
    }
}