
.block
    .header
        .title 
            span.icon
                i(class="fas fa-address-card")
            h2 About
        .delimeter
    .content
        .subblock
            .other
                .text
                    p I am experienced iOS developer with <b>over 4 years</b> of iOS development. I have a deep understanding of the iOS platform and a particular focus on AVFoundation media editing. I worked in teams of varying sizes (of 2 to 60 people), both remotely and on-site. I am dedicated to creating visually appealing and user-friendly apps that empower users. 
                    p In my free time, I contribute to open-source projects, publish my own apps, and create backend applications. I am passionate about sharing my knowledge through teaching and public speaking. I am committed to using my skills and experience to enhance the user experience and push the boundaries of iOS development.