
.block
    .header
        .title 
            span.icon
                i(class="fas fa-address-card")
            h2 О себе
        .delimeter
    .content
        .subblock
            .other
                .text
                    p Люблю заниматься разработкой, пить кофе и делать жизнь людей проще.