
.block
    .header
        .title 
            span.icon
                i(class="fas fa-address-card")
            h2 About
        .delimeter
    .content
        .subblock
            .other
                .text
                    p Experienced iOS developer with 5 years in iOS development for major tech companies. I have implemented innovative solutions for IT giants like VKontakte and Prequel. Millions of users now using the products I have transformed. My achievements include developing award-winning interfaces that resulted in significant profit growth for one of the largest national online retailer, speaking at prestigious conferences with 300+ attendees, and creating my own products actively used by 20.000+ users.
