.block
    .header
        .title 
            span.icon
                i(class="fas fa-graduation-cap")
            h2 Education
        .delimeter
    .content
        .subblock.large
            .left
                .title Bachelor
                .subtitle 2016 - 2020
            .other
                .text
                    p Voronezh State University, Applied Mathematics Informatics and Mechanics department, Fundamental Informatics and Information Technology.
        .subblock.large
            .left
                .title IT Translator
                .subtitle 2016 - 2020
            .other
                .text
                    p Translator in it sphere (EN/RU).
        .subblock.large
            .left
                .title Master
                .subtitle 2020 - 2022
            .other
                .text
                    p Voronezh State University, Applied Mathematics Informatics and Mechanics department, Fundamental Informatics and Information Technology.