.block
    .header
        .title 
            span.icon
                i(class="fas fa-graduation-cap")
            h2 Образование
        .delimeter
    .content
        .subblock
            .left
                .title Бакалавр
                .subtitle 2016 - 2020
            .other
                .text
                    p Воронежский Государственный Университет, факультет Прикладной Математики Информатики и Механики, направление Фундаментальная Информатика и Информационные технологии.
        .subblock
            .left
                .title Технический переводчик
                .subtitle 2016 - 2020
            .other
                .text
                    p Переводчик в сфере профессиональной коммуникации (английский).
        .subblock
            .left
                .title Магистр
                .subtitle 2020 - 2022
            .other
                .text
                    p Воронежский Государственный Университет, факультет Прикладной Математики Информатики и Механики, направление Фундаментальная Информатика и Информационные технологии.