.header
    .left
    .center
        h1 Aleksander Filimonov
        .subtitle Senior iOS Developer
        .second-subtitle <b>5 years</b> iOS experience
    .right
        .block 
            span.text London
            i(class="fas fa-globe-europe")
        .block 
            a(href="mailto:as.filimon@gmail.com").text as.filimon@gmail.com
            i(class="far fa-envelope")
        .block 
            a(href="http://github.com/alexfilimon", target="_blank").text Github
            i(class="fab fa-github")