.header
    .left
        .avatar
            .avatar-wrapper
                img(src="avatar.JPG", alt="Фото")
    .center
        h1 Александр Сергеевич Филимонов
        .subtitle iOS Программист
        .description 23 года (16 ноября 1998), мужчина, женат, готов к переезду, готов к командировкам. 
    .right
        .block 
            span.text Montenegro
            i(class="fas fa-globe-europe")
        .block 
            a(href="mailto:as.filimonov@mail.ru").text as.filimonov@mail.ru
            i(class="far fa-envelope")
        .block 
            a(href="http://github.com/alexfilimon", target="_blank").text Github
            i(class="fab fa-github")