.block
    .header
        .title 
            span.icon
                i(class="fas fa-globe")
            h2 Languages
        .delimeter
    .content
        .subblock
            .left
                .title Russian
            .other
                .text Native
        .subblock
            .left
                .title English
            .other
                .text Upper-Intermediate (reading of documentation, communication)