.block
    .header
        .title 
            span.icon
                i(class="fas fa-globe")
            h2 Языки
        .delimeter
    .content
        .subblock
            .left
                .title Русский
            .other
                .text Родной
        .subblock
            .left
                .title Английский
            .other
                .text Upper-Intermediate, свободное чтение документации, общение