.block
    .header
        .title 
            span.icon
                i(class="fab fa-github")
            h2 Open source
        .delimeter
    .content
        .subblock
            .left
                .title Analytics
            .other
                .text 
                    ul
                        li 
                            a(href="https://github.com/alexfilimon/swift-analytics", target="_blank") AnyAnalytics
                            |  - library for iOS for analytics integration
                        li 
                            a(href="https://github.com/alexfilimon/swift-analytics-gen", target="_blank") SwiftAnalyticsGen
                            |  - script for automatically generating piece of codes grabbing data from Google Spreadsheets
        
        .subblock
            .left
                .title Studying
            .other
                .text
                    ul
                        li 
                            a(href="https://github.com/alexfilimon/lexer_parser", target="_blank") LexerParser
                            |  - repository for building lexical and syntax tree from given language (compilers course)
                        li 
                            a(href="https://github.com/alexfilimon/genetic-alg", target="_blank") GeneticAlg 
                            |  - iOS and CLI app for visualizing work of genetic algorithm (implement logic for drawing graphs)
        .subblock
            .left
                .title Demos
            .other
                .text
                    ul
                        li 
                            a(href="https://github.com/alexfilimon/AnimationUX", target="_blank") AnimationUX
                            |  - demo app that shows best practices for implementing animations
                        li 
                            a(href="https://github.com/alexfilimon/avfoundation-demo", target="_blank") AVFoundation Edit
                            |  - demo app that shows how to edit videos with AVFoundation
                        li 
                            a(href="https://github.com/alexfilimon/H264StreamDecodeDemo", target="_blank") H264 Stream decoding
                            |  - demo app that shows how to decode H264 AnexB stream and wrap it to video container