.block
    .header
        .title 
            span.icon
                i(class="fas fa-tasks")
            h2 Other projects
        .delimeter
    .content
        .subblock
            .left
                .title 
                    a.href(href="https://apps.apple.com/ru/app/%D0%BD%D1%84%D0%BF/id1483833950", target="_blank") NFP
            .other
                .text
                    p 
                        b Pet-project
                    ul
                        li Fully self created project, which is in the top 1 in its narrow category and has over <b>20 000 users</b> (<b>370 000 total sessions</b> over time)
                        li Dumped data from Google Spreadsheet to JSON, implemented in-app purchases with StoreKit
                        li Designied a complex data model, collected and analyzed product analytics metrics
                        li Received an incredibly high rating from all users - <b>rating 4.9 out of 5, 152 ratings, 21 reviews</b>
        .subblock
            .left
                .title 
                    a.href(href="https://github.com/alexfilimon/alexfilimon.github.io/tree/master/resources", target="_blank") Contact Lens Tracker (Beta)
            .other
                .text
                    p 
                        b Pet-project
                    ul
                        li Developed a ground-up project and a vast array of reusable components. This proficiently empowers rapid development of new projects with heightened efficiency.
                        li Designed a subscription-based monetization model and used StoreKit
        .subblock
            .left
                .title 
                    a(href="https://apps.apple.com/lu/app/petty/id1602905842", target="_blank") Petty
            .other
                .text
                    p 
                        b Pet-project
                    ul
                        li Created and depployed the iOS and scalable backend app completely independently from inception to release.
                        li Modified and integrated a CoreML neural network to determine the breed of an animal with an accuracy of over <b>95%</b>
        .subblock
            .left
                .title 
                    a(href="https://apps.apple.com/lu/app/tiny-pomodoro/id1517687405", target="_blank") Tiny Pomodoro
            .other
                .text
                    p 
                        b Pet-project
                    ul
                        li Worked with the gyroscope and proximity sensor to detect phone rotation, and implemented tactile response to give feedback to users
               
