.block
    .header
        .title 
            span.icon
                i(class="fas fa-tasks")
            h2 Other projects
        .delimeter
    .content
        .subblock
            .left
                .title 
                    a.href(href="https://apps.apple.com/ru/app/%D0%BD%D1%84%D0%BF/id1483833950", target="_blank") NFP
            .other
                .text
                    p 
                        b Pet-project
                    ul
                        li Fully self created project, which is in the top 1 in its narrow category and has over <b>17 500 users</b> (<b>370 000 total sessions</b> over time)
                        li Dumped data from Google Spreadsheet to JSON, implemented in-app purchases with StoreKit
                        li Designied a complex data model, collected and analyzed product analytics metrics
                        li Received an incredibly high rating from all users - <b>rating 4.8 out of 5, 141 ratings, 20 reviews</b>
        .subblock
            .left
                .title 
                    a(href="https://apps.apple.com/lu/app/petty/id1602905842", target="_blank") Petty
            .other
                .text
                    p 
                        b Pet-project
                    ul
                        li Created and depployed the iOS and scalable backend app completely independently from inception to release.
                        li Createв and integrateв a CoreML neural network to determine the breed of an animal with an accuracy of over <b>95%</b>
        .subblock
            .left
                .title 
                    a(href="https://apps.apple.com/lu/app/tiny-pomodoro/id1517687405", target="_blank") Tiny Pomodoro
            .other
                .text
                    p 
                        b Pet-project
                    ul
                        li Worked with the gyroscope and proximity sensor to detect phone rotation, and implemented tactile response to give feedback with users

        .subblock
            .left
                .title
                    a(href="https://apps.apple.com/ru/app/%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D0%BA%D0%B0%D1%81%D1%82%D1%80%D0%BE%D0%B9/id1488968057", target="_blank") Cargo&Bulding
                    | , 
                    a(href="https://apps.apple.com/ru/app/id1510202033", target="_blank") Dinlex
            .other
                .text
                    p 
                        b Freelance
                    ul
                        li Implemented Backend Driven Design, worked with Contacts framework, WKWebView
        .subblock
            .left
                .title Short videos app
            .other
                .text
                    p 
                        b Freelance
                    ul
                        li Created a mechanism for automatic short videos playback
        .subblock
            .left
                .title CarCarCity
            .other
                .text
                    p 
                        b Freelance
                    ul
                        li Developed iOS client, frontend client, REST backend. Designed complex algotithm for database searching
                        
