.block
    .header
        .title 
            span.icon
                i(class="fas fa-tasks")
            h2 Проекты
        .delimeter
    .content
        .subblock
            .left
                .title
                    a(href="https://apps.apple.com/ru/app/id1483833950", target="_blank") НФП
            .other
                .text
                    .tags
                        .tag Pet-проект
                    ul
                        li Выгрузка данных из Google Spreadsheet в JSON
                        li >2.5к пользователей
                        li Опыт работы с in-app purchase StoreKit (кастомная обертка)
                        li Проектирование сложной модели данных
                        li Сбор и анализ продуктовых метрик аналитики
        .subblock
            .left
                .title Разработка банковского приложения (NDA)
            .other
                .text
                    .tags
                        .tag Работа (ID Company)
                    ul
                        li Команда 4 человека
                        li Поддержка сложной бизнес логики приложения
                        li Внедрение новых фич в проект
        .subblock
            .left
                .title Разработка приложения социальной сети (NDA)
            .other
                .text
                    .tags
                        .tag Работа (Surf)
                    ul
                        li Команда 2-4 человека
                        li Активных пользователей >10к/день
                        li Оптимизация лагов при загрузке экрана
                        li Реализация плеера в ленте при помощи AVFoundation
        .subblock
            .left
                .title Разработка банковского приложения (NDA)
            .other
                .text
                    .tags
                        .tag Работа (Surf)
                    ul
                        li Команда 4-8 человек
                        li Проектирование и декомпозиция сложных фич
                        li Реализация переиспользуемого решения для работы с формами
                        li Деление сложных экранов на логические части
        .subblock
            .left
                .title 
                    a.href(href="https://apps.apple.com/ru/app/rendez-vous-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD/id640073731", target="_blank") Rendez-vous
            .other
                .text
                    .tags
                        .tag Работа (Surf)
                    ul
                        li Команда 2-5 человек
                        li Реализация сложных UI компонентов (SegmentedControl, Slider, PageControl)
                        li Опыт управления командой
                        li Настройка fastlane для сборок и тестирования
                        li Внедрение процесса автоматизации интеграции аналитики
                        li Поддержка многомодульности
        .subblock
            .left
                .title
                    a(href="https://apps.apple.com/ru/app/%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D0%BA%D0%B0%D1%81%D1%82%D1%80%D0%BE%D0%B9/id1488968057", target="_blank") ТехникаСтрой
                    | , 
                    a(href="https://apps.apple.com/ru/app/id1510202033", target="_blank") Динлекс
            .other
                .text
                    .tags
                        .tag Фриланс
                    ul
                        li BDD (Backend Driven Design)
                        li Работа с Contacts framework
                        li Взаимодействие с WKWebView
        .subblock
            .left
                .title CarCarCity
            .other
                .text
                    .tags
                        .tag Фриланс
                    ul
                        li iOS клиент
                        li Frontend клиент (Vue JS)
                        li REST backend (проектирование, разработка)
        .subblock
            .left
                .title 
                    a(href="https://github.com/alexfilimon/swift-analytics", target="_blank") Библиотека AnyAnalytics
            .other
                .text 
                    .tags
                        .tag Open-source (разработка)
                    | Библиотека для упрощения интеграции аналитики в iOS проект
        .subblock
            .left
                .title 
                    a(href="https://github.com/alexfilimon/swift-analytics-gen", target="_blank") Скрипт генерации слоя аналитики
            .other
                .text 
                    .tags
                        .tag Open-source (разработка)
                    ul
                        li Использование Swift Scripts
                        li OAuth 2.0 для Google Spreadsheets
                        li Stencil для генерации файлов
        .subblock
            .left
                .title 
                    a(href="https://github.com/surfstudio/ReactiveDataDisplayManager", target="_blank") ReactiveDataDIsplayManager
            .other
                .text 
                    .tags
                        .tag Open-source (вклад)
                    ul
                        li Добавление универсальных элементов
                        li Поддержка библиотеки в актуальном состоянии
        .subblock
            .left
                .title 
                    a(href="https://github.com/surfstudio/iOS-Utils", target="_blank") iOS-Utils
            .other
                .text 
                    .tags
                        .tag Open-source (вклад)
                    ul
                        li Утилита для построения NSAttributedString - StringBuilder
                        li Исправление багов
        .subblock
            .left
                .title 
                    a(href="https://github.com/alexfilimon/lexer_parser", target="_blank") Лексический и синтаксический анализатор
            .other
                .text
                    .tags
                        .tag Учеба
                    ul
                        li Разработка конечного автомата
                        li Выведение правил для синтаксического разбора 
                        li Построение синтаксического дерева разбора
