.block#publications-block
    .header
        .title 
            span.icon
                i(class="fas fa-microphone")
            h2 Выступления, статьи
        .delimeter
    .content
        .subblock
            .left
                .title iOS
            .other
                .text
                    ul
                        li 
                            a.href(href="https://github.com/alexfilimon/custom-slider", target="_blank") Как сделать слайдер
                        li 
                            | Как делать сложные UI компоненты (
                            a.href(href="https://youtu.be/hNCh6ESPfv8", target="_blank") Выступление 1
                            | , 
                            a.href(href="https://youtu.be/DyL5LdFbLSQ", target="_blank") Выступление 2
                            | )
                        li 
                            a.href(href="https://github.com/surfstudio/Surf-iOS-Developers/pull/32", target="_blank") Вводная статья про архитектуры в iOS
                        li Участие в школе iOS разработки в качестве ментора и преподавателя
                                    
    .content
        .subblock
            .left
                .title Web
            .other
                .text
                    ul
                        li 
                            a.href(href="https://github.com/alexfilimon/web_introduction_2019") Введение в web разработку