.block#publications-block
    .header
        .title 
            span.icon
                i(class="fas fa-microphone")
            h2 Public activities
        .delimeter
    .content
        .subblock
            .left
                .title iOS
            .other
                .text
                    ul
                        li 
                            | Articles: 
                            a.href(href="https://github.com/alexfilimon/custom-slider", target="_blank") "How to make custom complex UISlider"
                            |  and 
                            a.href(href="https://github.com/surfstudio/Surf-iOS-Developers/pull/32", target="_blank") "Architectures in iOS"
                            |  (RU)
                        li 
                            | Public Speech "How to make complex UI components in iOS" (RU) (
                            a.href(href="https://youtu.be/hNCh6ESPfv8", target="_blank") Speech 1
                            | , 
                            a.href(href="https://youtu.be/DyL5LdFbLSQ", target="_blank") Speech 2
                            | ) (<b>123 live views, 894 youtube views</b>)
                        li 
                            a.href(href="https://github.com/surfstudio/iOSSpringSchool2020", target="_blank") Participate in iOS development school as a mentor and teacher 2019 and 2020 (RU)
                        li 
                            | Participated in largest online iOS converence in Russia Podlodka iOS Crew as a speaker - 
                            a.href(href="https://youtu.be/-YhxmwFvnJg", target="_blank") "Preparing AVFoundation" (RU)
                            |  - top 1 report among all conference (<b>102 live views, 261 youtube views</b>) and 
                            a.href(href="https://youtu.be/wNpK27tdIbg", target="_blank") "Adopting the principles of animation from Disney cartoons" (RU)
                            |  (<b>108 live views, 264 youtube views</b>)
                        li Participated in the internal VKontakte Hackathons (2021 and 2022)

                                    
    .content
        .subblock
            .left
                .title Web
            .other
                .text
                    ul
                        li 
                            a.href(href="https://github.com/alexfilimon/web_introduction_2019") Public Speech "Introduction to Web Development" (RU)
                        li Organizing a series of "Writing Bots for Telegram in Python" worshkop (RU)
    .content
        .subblock
            .left
                .title General
            .other
                .text
                    ul
                        li  Public Speech "How the team works in IT"
                        