.block#publications-block
    .header
        .title 
            span.icon
                i(class="fas fa-microphone")
            h2 Выступления, статьи, хакатоны, публикации
        .delimeter
    .content
        .subblock
            .left
                .title iOS
            .other
                .text
                    ul
                        li Публикация в сборнике статей по материалам IV научно-практической конференции "Молодѐжные чтения, посвященные памяти Ю.А. Гагарина" на тему "К задаче о создании сети транкинговой связи"
                        li 
                            a.href(href="https://github.com/alexfilimon/custom-slider", target="_blank") Как сделать слайдер
                        li 
                            | Как делать сложные UI компоненты (
                            a.href(href="https://youtu.be/hNCh6ESPfv8", target="_blank") Выступление 1
                            | , 
                            a.href(href="https://youtu.be/DyL5LdFbLSQ", target="_blank") Выступление 2
                            | )
                        li 
                            a.href(href="https://github.com/surfstudio/Surf-iOS-Developers/pull/32", target="_blank") Вводная статья про архитектуры в iOS
                        li Участие в школе iOS разработки в качестве ментора и преподавателя 2019
                        li Участие в школе iOS разработки в качестве ментора и преподавателя 2020
                        li 
                            a.href(href="https://youtu.be/-YhxmwFvnJg", target="_blank") Podlodka iOS Crew: Разбираемся в AVFoundation
                        li 
                            a.href(href="https://youtu.be/wNpK27tdIbg", target="_blank") Podlodka iOS Crew: Перенимаем принципы анимации из мультиков Disney
                        li Участие во внутреннем хакатоне ВКонтакте

                                    
    .content
        .subblock
            .left
                .title Web
            .other
                .text
                    ul
                        li 
                            a.href(href="https://github.com/alexfilimon/web_introduction_2019") Введение в web разработку
                        li Проведение серии воршкопов "Написание ботов для Telegram на Python"
    .content
        .subblock
            .left
                .title Общее
            .other
                .text
                    ul
                        li Выступление с докладом "Как устроена команда в IT"
                        