.block.skills
    .header
        .title 
            span.icon
                i(class="fas fa-puzzle-piece")
            h2 Skills
        .delimeter
    .content
        .subblock
            .left
                .title iOS
            .other
                .text
                    .tags
                        .tag Swift 
                        .tag ObjC
                        .tag UIKit
                        .tag Combine
                        .tag Moya
                        .tag AVFoundation
                        .tag CoreGraphics
                        .tag CoreImage
                        .tag Autolayout
                        .tag Frame layout
                        .tag UICollectionViewLayout
                        .tag CoreData
                        .tag MVP
                        .tag VIPER
                        .tag Coordinator
                        .tag CI/CD
                                    
    .content
        .subblock
            .left
                .title Web
            .other
                .tags
                    .tag REST API
                    .tag Python
                    .tag Django
                    .tag DRF
                    .tag Docker