.block
    .header
        .title 
            span.icon
                i(class="fas fa-briefcase")
            h2 Experience
        .delimeter
    .content
        .subblock
            .left
                .title 
                    a(href="https://prequel.app", target="_blank") Prequel
                .subtitle May 2021 -<br> Current time
            .other
                .text
                    p 
                        b Senior iOS Developer
                    ul
                        li Implemented H264 Stream decoding strategy at client side that allowed to use another processing algorythm at serverside and decreased server time of processing media by <b>60%</b>
                        li Integrated OpenCV processing for shared codebase between platforms, which reduced code maintenance time by <b>35%</b>
                        li Realized manual camera mode with shutter/ISO priority (which is almost nowhere to be implemented)
        .subblock
            .left
                .title 
                    a(href="https://vkclips.app", target="_blank") VK Clips
                    |  (
                    a(href="https://apps.apple.com/us/app/vk-social-network-messenger/id564177498", target="_blank") VKontakte
                    | )
                .subtitle September 2020 -<br> May 2021
            .other
                .text
                    p 
                        b iOS Developer
                    ul
                        li Worked in large team (over 60 iOS developers), refactored multiple screens, created custom UI components
                        li Created and maintained a screen with a complex UI and many stats, which increased views of clips by <b>4 times</b>
                        li Implemented Core part of the video clip and stories editor (AVComposition + CIImage) that increased number of daily uploaded videos by <b>3 times</b> and decreased rendering time by <b>40%</b>
        .subblock
            .left
                .title 
                    a(href="https://surf.dev", target="_blank") Surf
                .subtitle September 2018 -<br> September 2020
            .other
                .text
                    p 
                        b 
                            a.href(href="https://apps.apple.com/ru/app/rendez-vous-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD/id640073731", target="_blank") Rendez-vous
                            |  - iOS Developer
                    ul
                        li Involved in the entire app development process from start to finish
                        li Implemented the process of automating analytics integration that decrease time of integration by <b>25%</b> among all projects
                        li Created beatiful UICollectionView carousel, which increased number of orders by <b>5</b> times (from 1300 per day to 6500), and made talk about it
                        li 
                            a(href="https://tagline.ru/surfstudio/cases/razrabotka-mobiljnogo-prilozheniya-rendez-vous/", target="_blank") Won the Tagline award 2020-2021 in the "People's Vote"
                    p
                        b
                            a.href(href="https://surf.dev/cases/banking-app/", target="_blank") Banking app
                            |  - iOS Developer
                    ul 
                        li Created a reusable solution for working with forms that reduced the development time for such screens by <b>2 times</b>
                        li The top three "Best financial apps" Tagline award 2020-2021
                    p
                        b
                            a.href(href="https://surf.dev/cases/mobile-app-for-a-social-network/", target="_blank") Social network app
                            |  - iOS Developer
                    ul 
                        li Fixed UI lags while scrolling with frame layout
                        li Integrated AVPlayer to the main screen that increased interaction with video content by <b>40%</b>
        .subblock
            .left
                .title ID Company
                .subtitle June 2018 -<br> September 2018
            .other
                .text
                    p 
                        b iOS Developer
                    ul
                        li Developed bottom sheet with custom transition
                        li Created a team code style and integrated linter to CI that reduced core review time by <b>30%</b>
