.block
    .header
        .title 
            span.icon
                i(class="fas fa-briefcase")
            h2 Опыт работы
        .delimeter
    .content
        .subblock
            .left
                .title Фриланс
                .subtitle декабрь 2016 - июнь 2018
            .other
                .text
                    p 
                        b Full stack разработчик
                    ul
                        li Разработка сайтов "под ключ"
                        li Коммуникация с заказчиком
                        li Построение процессов разработки и контроля качества кода
                        li Использование различных автоматизаций в разработке
    .content
        .subblock
            .left
                .title ID Company
                .subtitle июнь 2018 - сентябрь 2018
            .other
                .text
                    p 
                        b iOS разработчик
                    ul
                        li Участие в процессах code-review
                        li Создание сложных логических компонентов для упрощения поддержки
        .subblock
            .left
                .title 
                    a(href="https://surf.ru", target="_blank") Surf
                .subtitle сентябрь 2018 - сентябрь 2020
            .other
                .text
                    p 
                        b iOS разработчик
                    ul
                        li Командная разработка и поддержка приложений (команда 2-8 человек)
                        li Опыт управления командой
                        li Разработка сложных UI компонентов
                        li Участие в процессах code review, ретроспективах
                        li Менторство начинающих разработчиков
                        li Проектирование, декомпозиция задач на спринт разработки
                        li Написание и поддержка Unit тестов
        .subblock
            .left
                .title 
                    a(href="https://vk.ru", target="_blank") ВКонтакте
                .subtitle сентябрь 2020 - май 2021
            .other
                .text
                    p 
                        b iOS разработчик
                    ul
                        li Работа с AVFoundation и реализация Core функциональности редактора клипов
                        li Создание и поддержка отдельных экранов клипов
        .subblock
            .left
                .title 
                    a(href="https://prequel.app", target="_blank") Prequel
                .subtitle май 2021 - настоящее время
            .other
                .text
                    p 
                        b Старший iOS разработчик
                    ul
                        li Работа с декодингом видео
                        li Интеграция нейронных сетей в Приложение
                        li Поддержка фото/видео редактора
