.block
    .header
        .title 
            span.icon
                i(class="fas fa-briefcase")
            h2 Опыт работы
        .delimeter
    .content
        .subblock
            .left
                .title Фриланс
                .subtitle декабрь 2016 - июнь 2018
            .other
                .text
                    p 
                        b Full stack разработчик
                    ul
                        li Разработка сайтов "под ключ"
                        li Коммуникация с заказчиком
                        li Построение процессов разработки и контроля качества кода
                        li Использование различных автоматизаций в разработке
    .content
        .subblock
            .left
                .title ID Company
                .subtitle июнь 2018 - сентябрь 2018
            .other
                .text
                    p 
                        b iOS разработчик
                    ul
                        li Работа в мед-тех проекте 
                        li Командная разработка банковского приложения
        .subblock
            .left
                .title 
                    a(href="https://surf.ru", target="_blank") Surf
                .subtitle декабрь 2018 - настоящее время
            .other
                .text
                    p 
                        b iOS разработчик
                    ul
                        li Командная разработка и поддержка приложений (команда 2-8 человек)
                        li Опыт управления командой
                        li 
                            | Работа над проектом социальной сети (> 10k активных пользователей), банковским приложением, приложеним 
                            a.href(href="https://apps.apple.com/ru/app/rendez-vous-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD/id640073731", target="_blank") Rendez-vous
                        li Разработка сложных UI компонентов (SegmentedControl, Slider, PageControl)
                        li Участвие в процессах code review, ретроспективах
                        li Менторство начинающих разработчиков
                        li Проектирование, декомпозиция задач на спринт разработки
                        li 
                            | Вклад в open-source библиотеки (
                            a.href(href="https://github.com/surfstudio/iOS-Utils", target="_blank") iOS-Utils
                            | , 
                            a.href(href="https://github.com/surfstudio/ReactiveDataDisplayManager", target="_blank") RDDM
                            | )
